img {
  height: 150px;
}

h2,
.ingredients {
  list-style: square;
}

h1,h2,p,li{
  font-family: Helvetica;
}

.time {
  color: gray;
}

.description {
  font-size: 20px;
}

.external-link {
  color: SeaGreen;
}

#cook-time {
  font-weight: bold;
}
